@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900;&display=swap');
/* Page CSS ---------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #1c2541;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* section h2{
    position: relative;
    color: #fff;
    font-size: 12em;
} */



/* Button CSS ---------------------------------------------------------*/
#shiny-shadow {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 6vh;

    background: #1c2541;

}
button {

    border: 2px solid white;

    background: transparent;

    text-transform: uppercase;

    color: white;

    padding: 15px 50px;

    outline: none;

    position: relative;

    overflow: hidden;

}
span {

    z-index: 20;

}
button:after {

    content: '';

    display: block;

    position: absolute;

    background: white;

    width: 50px;

    height: 125px;

    opacity: 20%;

    transform: rotate(-45deg);

    top: -36px;

    left: -100px;

}
button:hover:after {

    left: 120%;

    transition: all 600ms cubic-bezier(0.3, 1, 0.2, 1);

    -webkit-transition: all 600ms cubic-bezier(0.3, 1, 0.2, 1);
}

